body {
  background-color: #fff;
  position: relative;
  padding-top: 80px;
}
section {
  padding-top: 60px;
}
.modal form {
  margin-bottom: 0px;
}
.topbar h3 a, .topbar .brand {
float: left;
display: block;
padding: 5px 20px 5px;
margin-left: -20px;
color: white;
font-size: 20px;
font-weight: 200;
line-height: 1;
}

