{% load i18n %}
<ul class="secondary-nav">
    {% if user.is_authenticated %}
        <li>
            <a href="#" class="menu">{{ user.email }}</a>
            <ul class="menu-dropdown">
                <li><a href="#">Account</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url logout %}">{% trans 'Logout' %}</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url login %}">Log In</a></li>
        <li><p>or</p></li>
        <li><a href="{% url register %}">Sign Up</a></li>
    {% endif %}
</ul>